* {
    margin: 0;
    padding: 10px;
}
.navbar{
    display: flex;
    flex-direction: row;
    justify-content: right;
    background-color: navy;
    color: white;
}

.section_one{
    display: flex;
    flex-direction: flex-start;
    justify-content: space-around;
    align-content: center;
    height: 600px;
}

#introduction{
    align-self: center;
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
    font-size: larger;
    line-height: 15px;
}

#introduction_image{
    align-self: center;
}

.section_two{
    background-color: navy;
    color: white;
    padding-bottom: 5%;
}

#about_me{
    text-align: center;
    font-size: 35px;
    font-style: italic;
    padding-bottom: 3%;
    padding-top: 3%;
}

.about_me{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#about_me_image{
    display: flex;
}

.about_me_paragraphs{
    padding-left: 2%;
    line-height: 25px;
}

.section_three{
    padding: 3% 6%;
}

#skills{
    text-align: center;
    font-size: 35px;
    font-style: italic;
    padding-bottom: 3%;
    padding-top: 5%;
}

.currently_using{
    display: flex;
    flex-direction: flex-start;
    justify-content: space-between;
}

.still_learning{
    display: flex;
    flex-direction: row;
    justify-content: space;
}

.bootstrap{
    padding-left: 150px;
    padding-right: 150px;
}

.section_four{
    background-color: navy;
    color: white;
    padding: 3% 4%;
}

#project_portfolio{
    text-align: center;
    font-size: 35px;
    font-style: italic;
}

.learning_and_additional_skills{
    display: flex;
    flex-direction: flex-start;
    justify-content: space;
}

.burger_palace{
    display: flex;
    flex-direction: flex-start;
    justify-content: space-around;
}

#burger_palace{
    padding-top: 10%;
    width: 45%;
}

.letuce_eat{
    display: flex;
    flex-direction: flex-start;
    justify-content: space-around;
}

#letuce_eat{
    padding-top: 10%;
    width: 45%;
}

#many_more{
    text-align: center;
}

#get_in_touch{
    text-align: center;
    font-size: 35px;
    font-style: italic;
    padding-bottom: 3%;
}

.section_five{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 700px;
    padding-bottom: 5%;
    padding-top: 5%;
    line-height: 30px;
}

.section_six{
    font-size: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: navy;
    color: white;
}

#sitemap{
    list-style: none;
    font-size: small;
    text-align: left;
}

.footer{
    text-align: center;
    font-size: 15px;
    background-color: navy;
    color: white;
}