* {
    margin: 0;
    padding: 5px;
}
.navbar{
    display: flex;
    justify-content: right;
}

.section_one{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.section_two{
    padding: 1%;
}

#about_me{
    justify: center;
    font-size: 30px;
    font-style: italic;
}

.about_me{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#about_me_image{
    display: flex;
}

.about_me_paragraphs{
    padding-left: 2%;
    line-height: 25px;
}

.currently_using{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.learning_and_additional_skills{
    display: flex;
}

.still_learning{
    display: flex;
    flex-direction: row;
    justify-content: space;
    padding-left: 2%;
}

