* {
    margin: 0;
    padding: 10px;
}
.navbar{
    display: flex;
    flex-direction: row;
    justify-content: right;
    background-color: navy;
    color: white;
}

.section_one{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#about_me{
    text-align: center;
    font-size: 30px;
    font-style: italic;
}

.about_me{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#about_me_image{
    display: flex;
}

.about_me_paragraphs{
    padding-left: 2%;
    line-height: 25px;
}

#skills{
    text-align: center;
    font-size: 30px;
    font-style: italic;
}

.currently_using{
    display: flex;
    flex-direction: flex-start;
    justify-content: space-between;
}

.still_learning{
    display: flex;
    flex-direction: row;
    justify-content: space;
}

.bootstrap{
    padding-left: 200px;
    padding-right: 200px;
}

#project_portfolio{
    text-align: center;
    font-size: 30px;
    font-style: italic;
}

.learning_and_additional_skills{
    display: flex;
    flex-direction: flex-start;
    justify-content: space;
}

.burger_palace{
    display: flex;
    flex-direction: flex-start;
    justify-content: space-around;
}

#burger_palace{
    padding-top: 10%;
    width: 45%;
}

.letuce_eat{
    display: flex;
    flex-direction: flex-start;
    justify-content: space-around;
}

#letuce_eat{
    padding-top: 10%;
    width: 45%;
}

#many_more{
    text-align: center;
}

#get_in_touch{
    text-align: center;
    font-size: 30px;
    font-style: italic;
}

.section_five{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section_six{
    font-size: small;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footer{
    text-align: center;
    font-size: small;
    background-color: navy;
    color: white;
}